/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
        display: flex;
        flex-direction: column;
        margin: 0;
        background-color: black;
    }
    #head_tag{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color:white;
    }
    a{
        color: rgb(15, 209, 48);
        border: 0;
        margin: 0;
        margin-left: 10px;
        margin-right: 0;
        font-family: 'Metal Mania', cursive;
        font-size: 30px;
        text-decoration: none;
        font-family: 'Architects Daughter', cursive;
    }
    h1{
        color: black;
        border: 0;
        margin: 0;
        margin-left: 50px;
        margin-right: 50px;
        font-family: 'Metal Mania', cursive;
    }
    #input_box{
        display: flex;
        flex-direction: row;
        background-color: rgba(0, 153, 255, 0.692);
        padding: 10px;
        padding-bottom: 80px;
        border-bottom-left-radius: 70px;
        border-bottom-right-radius: 70px;
        justify-content: center;
        background-size: contain;
        background-image: url('resources/cryptocurrency.jpg');
    }
    #input_box > *{
        outline: none;
        padding-bottom: 2px;
        border: 1px solid white;
        margin-top: 35px;
        margin-left: 15px;
        border-radius: 5px;
        height: 25px;
        width: 30%;
        opacity: 0.8;
        color: black;
    }
    #input_box button{
        
        /* margin-top: 30px; */
        height: 30px;
        width: 5%;
        background-color: rgb(238, 61, 90);
        border: 1px solid rgb(206, 49, 49);
        border-radius: 15px;
        opacity: 1;
    }
    #result{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 40px;
        font-family: 'Roboto', sans-serif;
        color: black;
    }
    #result > div{
        background-color: rgb(148, 194, 206);
        padding: 40px;
        border-radius: 10px;
        border: 5px solid rgb(148, 194, 206);
    }
    #result > div >div:nth-child(1){
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #result > div > div:nth-child(1) > *{
        /* margin-left: 10px; */
        margin-right: 5px;
        min-width: 25px;
        height: 25px;
        margin-top: 20px;
        font-size: 35px;
        font-weight: 900;
    }
    #coin_value{
        display: flex;
        flex-direction: row;
    }
    #coin_value select{
        margin-left: 15px;
        width: 25%;
        height: 7%;
        margin-top: 16px;
        background-color: darkseagreen;
        opacity: 0.8;
        outline: none;
    }
    .fail{
        color: white;
        font-size: larger;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */